:root {
    --background-color: #eff1f5;
    --inactive-color: #ccd0da;
    --active-color: #4c4f69;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 25%;
    gap: 10px;
}

.container {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: space-between;
}

.tile {
    background-color: var(--inactive-color);
    transition: all 0.5s;
    flex-grow: 1;
}

.tile.active {
    background-color: var(--active-color);
    box-shadow: 0px 5px 10px 2px var(--inactive-color);
    transform: translateY(-6px);
}
